@import "tailwindcss";

 * {
    box-sizing: border-box;
}

body {
    font-family: "Science Gothic" ,"Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image:  url(../public/neon-grid-background_53876-91657.avif);
    background-size: cover;
    background-position: center;
  background-attachment: fixed;
}